body {
    background: rgb(106, 248, 106);
    color: #444;
}

header {
    background: rgb(154, 252, 154);
}

header::after {
    content: "";
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 15px;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #9e9898;
}

.logo {
    height: 50px;
    width: 80px;
    float: left;
}

.container {
    width: 80%;
    margin: 0;
}

.center {
    text-align: center;
    margin: auto;
}

.bg-dark {
    background: #333;
}

footer {
    padding: 2rem;
    color: #f4f4f4;
}

footer p {
    margin: 0;
}