body {
    background: rgb(106, 248, 106);
    margin: 0 50px;
}

header {
    background: rgb(154, 252, 154);
}

header::after {
    content: "";
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 20px;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #9e9898;
}

.logo {
    height: 60px;
    width: 90px;
    float: left;
}

/* .container1 {
    width: 95%;
    margin: 0 100px 0 100px;
} */

.container {
    width: 95%;
    margin: 0;
}

.center {
    text-align: center;
    /* margin: 0 auto; */
}

.bg-dark {
    background: #333;
}

footer {
    padding: 1rem;
    color: #f4f4f4;
}

footer p {
    margin: 0;
}

img {
    height: 400px;
    width: 400px;
    margin: 0 auto;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

